{% extends 'master.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div class="container-fluid h-100 text-dark">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-4 bg-light rounded">
            <div class="row justify-content-center align-items-center">
                <p class="h3 mb-3 fw-normal" >Minha Conta</p>
            </div>
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="w-100 site-btn">CONTINUAR</button>
                </div>
            </form>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">Criar uma conta!</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}